body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  flex-grow: 1; /* Allow content to grow and push footer down */
}

footer {
  position: absolute; /* Use absolute positioning for better control */
  bottom: 0;
  right: 0; 
  padding: 10px; 
  background-color: #f2f2f2;
}

footer small {
  display: inline-block;
  margin-right: 10px;
}
