body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column; 
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  flex-grow: 1; /* Allow the content to grow to fill the remaining space */
}

footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; /* Make the footer span the full width of the viewport */
  background-color: #f2f2f2; 
  padding: 10px;
  text-align: right; 
}

footer small {
  display: inline-block;
  margin-right: 10px;
}
