body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

main { /* Wrap your main content within a <main> tag */
  flex-grow: 1; /* Allow the main content to grow and fill the space */
  display: flex; /* Center content within the main section */
  justify-content: center;
  align-items: center; 
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  margin-top: auto; 
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center; /* Center the footer content */
}

footer small {
  display: inline-block;
  margin-right: 10px;
}
